body
{
  background-color: #80bfff;
  align-items: center;
  font-family: sans-serif;
  justify-content: center;
  align-self: center;
}

h1
{
  color: #1A1A40;
  text-align: center;
  align-items: center;
  font-family: sans-serif;
  justify-content: center;
}

h2
{
  color: #1A1A40;
  text-align: center;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
}

h3
{
  color: #1A1A40;
  text-align: center;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
}

h4
{
  color: blue;
  text-align: center;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
}

tr
{
  align-content:center;
  font-family: sans-serif;
  text-align: center;
  align-items: center;
}

td
{
  align-items:center;
  font-family: sans-serif;
  text-align: center;
  align-items: center;
}

header {
  background-color: #6867AC;
  padding: 20px;
  text-align: center;
  align-content: center;
  font-size: 30px;
  color: white;
}

footer {
  background-color: #6867AC;
  padding: 20px;
  text-align: center;
  color: white;
}


img.i
{
  height: 300px;
  width: 400px;
}

* {
  box-sizing: border-box;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 20%;
  height: auto; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 80%;
  background-color: #80bfff;
  height: auto;
}

/* Clear floats after the columns */
section::after {
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;

  }
}

section {
  display: -webkit-flex;
  display: flex;
}

img.c {
  width:auto;
  height:auto;
}

img.sc {
  width:200px;
  height:200px;
}

img.t {
  width:400px;
  height:350px;
}

img.m {
  width:300px;
  height:200px;
}
img.s {
  width: auto;
  height: 200px;
}

.zoom {
  padding: 20px;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

input[type=text], input[type=email], input[type=number] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password], input[type=number]:focus {
  background-color: #ddd;
  outline: none;
}

.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.index_cont_1 {
  position: relative;
  width: 100%;
  max-width: auto;
}

.index_cont {
  position: relative;
  width: 50%;
  max-width: auto;
}

.i {
  display: block;
  width: 100%;
  height: auto;
}

.sc {
  display: block;
  width:200px;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.index_cont:hover .overlay {
  opacity: 1;
}

.index_cont_1:hover .overlay {
  opacity: 1;
}
